/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";

 $bg-primary: #6BCAE2;
 $text-primary: #41924B;
 $other: #B76EB8;
 $highlight: #FE8402  ;
 $bg-secondary: #41924B;

 a {
   color: $highlight;
   font-weight: bold;
   transition: .75s;
   &:hover {
     text-decoration: none;
     color: $bg-primary;
   }
 }
 .intro{
   background-color: $other;
   a{
     color: lighten($highlight, 10%);
     transition: .75s;
     font-weight: bold;
     &:hover {
       text-decoration: none;
       color: darken($bg-primary, 30%);
     }
   }
 }
 .navbar{
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
   height: 120px;
   margin-bottom: 10px;
   background-color: $bg-primary;
   z-index: 1000;
   .title{
     display: inline-block;
     font-weight: bold;
     position: fixed;
     left: 15%;
   }
   .user{
     position: fixed;
     top: 90px;
     right: 15px;
     font-size: 1.2em;
   }
   a {
     color: darken($highlight, 10%);
     transition: .75s;
     font-weight: bold;
     &:hover {
       text-decoration: none;
       color: darken($bg-primary, 30%);
     }
   }
   h1 {
     color: $text-primary;
     font-size: 30px;
   }
   .user {
     float: right;
   }
 }
 .main-content {
  margin-top: 130px;
}
 .alert {
   background-color: silver;
   height: contain;
   float: right;
   font-weight: bold;
   font-size: 1.25em;
   vertical-align: middle;
   text-align: center;
   padding: 10px;
 }
 .alert-notice {
   color: darkgreen;
   border: 2px solid darkgreen;
 }
 .alert-alert {
   color: maroon;
   border: 2px solid maroon;
 }
 .btn{
   background-color: $highlight;
   color: white !important;
   &:hover{
     background-color: $bg-primary !important;
   }
 }
 .card-pic{
   height: 230px;
 }
 .card-title{
   font-size: 1.5em !important;
   color: white !important;
   font-weight: bold !important;
   vertical-align: top !important;
 }
 .big-pic{
   height: 500px;
 }
 .admin-tray{
   padding: 2px;
   text-align: center;
 }
 .desc{
   display: inline-block;
 }
 .active_place{
   color: maroon;
 }
 #place-sort{
  //  margin: 50px 0;
   display: inline-block;
   padding: 0;
   li {
     display: inline-block;
     padding: 0 15px;
   }
 }
 textarea {
   border: none;
   border-bottom: 1px solid grey;
   &:focus{
     outline: none !important;
     border-bottom: 2px solid teal;
   }
 }
